body {
    background: white;
    font-family: 'Noto Serif', monospace;
    font-weight: lighter;
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 40px;
}
.challenge-description {
  font-style: italic;
}
.company {
  color: #B93C47;
}

.bevietnam {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 10px;
}
.outlined {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

h2 {
  font-size: 20px;
  color: black;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}
.challenge {
  font-weight: normal;
}
.experience {
  color: black;
}

h3 {
  font-size: 16px;
  color: black;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: normal;
  letter-spacing: 5px;
  text-align: center;
}

img {
  width: 100%;
}

.description-left {
  text-align: left;
}

.description-right {
  text-align: right;
}

.experience-col {
  background-color: white;
  color: black;
}

.social-icon {
  height: 36px;
  text-align: center;
}

.social-icon-container {
  text-align: center;
}

a {
  color: #B93C47;
}
